# MongoDB Connection URI (From MongoDB Atlas Cloud or Local MongoDB)
MONGO_URI=mongodb+srv://your_username:your_password@cluster0.mongodb.net/loccomirror?retryWrites=true&w=majority

# JWT Authentication Secret Key (Any secure random string)
JWT_SECRET=loccomirror_jwt_super_secure_secret_key_2026

# JWT Expiration Duration
JWT_EXPIRES_IN=30d

# Port for local dev testing
PORT=5000
